{% extends "admin/index.html" %}
{% load i18n %}
{% block title %}{{ title|escape }} | {% trans 'Btown Sports Association' %}{% endblock %}

{% block branding %}
{% comment %}
<table width="1000"><tr>
<td><img src="http://www.eteamz.com/somervillelittleleague/images/honor2.gif"/></td>
<td width="*"><img src="http://www.eteamz.com/somervillelittleleague/images/SomervilleCatcher.jpg" width="250", height="150"/></td>
</table>
{% endcomment %}
<h1 id="site-name">{% trans 'Btown Sports Association' %}</h1>
{% endblock %}
{% block nav-global %}
<table><tr>
	<th><a href=/org/>Leagues</a></th>
	<th>|</th>
	<th><a href=/org/{{game_context}}/schedule>Games</a></th>
	<th>|</th>
	<th><a href=/org/{{game_context}}/results>Results</a></th>
	<th>|</th>
	<th><a href=/org/{{game_context}}/standings>Standings</a></th>
	{% if is_staff %}
	<th>|</th>
	<th><a href=/org/{{game_context}}/build_schedule>Build Schedule</a></th>
	<th>|</th>
	<th><a href=/org/{{game_context}}/build_availability>Venue Availability Setup</a></th>
	{% endif %}
</tr></table>
{% endblock %}
{% block extrahead %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
  
{% for section in announcements %}
    {% for entry in section.2 %}
      <script>
      $(document).ready(function(){
      $("p.message{{forloop.parentloop.counter}}_{{forloop.counter}}").hide()
        $("#showhide{{forloop.parentloop.counter}}_{{forloop.counter}}").click(function() {
          $("p.message{{forloop.parentloop.counter}}_{{forloop.counter}}").slideToggle("fast");
        });
      });
      </script>
    {% endfor %}
{% endfor %}
  <style>
  p {

  {# width:400px; #}
  background-color:#7AC89A;
  
  }

  h4 { color:#0000FF; }

	
  </style>


{% endblock %}
{% block content %}
<div id="content-main">
{% block page-content %}
{% endblock %}
</div>
{% endblock %}
{# {% block userlinks %} userlinks stuff {% endblock %} #}
{% comment %}
<div class="breadcrumbs">
{% block breadcrumbs %} 
<a href="/org">Home</a>
{% endblock %}
</div>
{% endcomment %}
{% block sidebar %} 
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>Announcements</h2>
	    <ul class="plainlist">
	    {% for section in announcements %}
		<li> <h2>{{section.1}}</h2></li>
		<ul {# class="actionlist"#} >
		{% for entry in section.2 %}
	            <li><div id="showhide{{forloop.parentloop.counter}}_{{forloop.counter}}"><h4>{{ entry.Headline|capfirst }}</h4></div></a><br />
			{# <span class="mini quiet"></span> #}
			<p class="message{{forloop.parentloop.counter}}_{{forloop.counter}}">{{entry.message_text|linebreaksbr}}</p>
		    </li>
		{% endfor %}
                </ul>
	    {% endfor %}
            </ul>
    </div>
</div>

{% endblock %}

{% block footer %}{#<div align="center"><img src="http://www.somervillelittleleague.info/LLanimation.JPG" width="150" height="150"/></div>#}{% endblock %}

