{% extends "org/base.html" %}
{% block page-content %}
{% if standings_list %}
{% for standings in standings_list %}
    <h1>{{standings.league}}</h1>
    <table>
    {% for division in standings.out_list %}
        <tr><th>{{ division.0.name }}</th></tr>
	    <th>Team</th>
	    <th>Won</th>
	    <th>Lost</th>
	    <th>Games</th>
	    <th>Pct</th>
	{% for team in division.1 %}
	    <tr>
		<th><a href="/org/{{standings.game_context}}/{{team.id}}/team/">{{team.name}}</a></th>
		<th>{{team.won}}</th>
		<th>{{team.lost}}</th>
		<th>{{team.total}}</th>
		<th>{{team.pct|floatformat:3}}</th>
	    </tr>
	{% endfor %}
    {% endfor %}
    </table>
{% endfor %}
{% else %}
    <p>No divisions are available.</p>
{% endif %}
{% endblock %}
