{% extends "org/base.html" %}
{% block page-content %}
<form action="/org//accept_availability/" method="post">
<p><select name='venue' size=1>
{% for v in venue_list %}
  <option value={{v.id}}>{{v.name}}</option>
{% endfor %}
</select>
Start Time:<input type="text" name="Start_time" size="8" maxlength="8" value="18:00"/>
End Time:<input type="text" name="End_time" size="8" maxlength="8" value="20:00">
<p>Include Date
<table>
{% for d in day_list %}
  <td><input type = "checkbox" name="{{d|date:"m/d/Y"}}">{{d|date:"D M/d"}}</input></td>
  {% ifequal d.weekday 6 %}</tr><tr>{% endifequal %}
{% endfor %}
</table>
<p><input type="submit" value="Setup" >
<input type="reset" value="Reset">
<input type="hidden" name="league_id" value="{{league_id}}">
</form>
{% endblock %}
